h2{
    text-align: left;
}
.w3-large{
    max-width:1600px;
    margin-left: 128px;
    margin-right: 128px;
}

.w3-quarter{
    width: 35%;
}

#bottone{
    position: relative;
    left: 1160px;
    top: 50px;
    bottom: 50px;

    text-decoration-color: black;
}

figure{
    float: left;

}
input[type=image]{
    width: 70px;
    height: 70px;
}
figcaption{
    font-size: 15px;
}




